<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Escondi2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preload" href="style.css" as="style">
    <link href="/css/styles.css" rel="stylesheet">

    <style>
	@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,500;1,700&family=Sacramento&display=swap');
	</style>

</head>

<body>
	<div class="total">
		<div class="containerHead">
			<a href="/home" class="titulo">
				Hotel Escondi
				<span>
					 2
				 </span>
			</a>
				<div class="datos"> 
					<div class="ubicacion">
						<a href="https://www.google.com/maps/@-34.3687655,-58.8078487,15z?entry=ttu">
					       <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google-maps" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
							  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							  <path d="M12 9.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" />
							  <path d="M6.428 12.494l7.314 -9.252" />
							  <path d="M10.002 7.935l-2.937 -2.545" />
							  <path d="M17.693 6.593l-8.336 9.979" />
							  <path d="M17.591 6.376c.472 .907 .715 1.914 .709 2.935a7.263 7.263 0 0 1 -.72 3.18a19.085 19.085 0 0 1 -2.089 3c-.784 .933 -1.49 1.93 -2.11 2.98c-.314 .62 -.568 1.27 -.757 1.938c-.121 .36 -.277 .591 -.622 .591c-.315 0 -.463 -.136 -.626 -.593a10.595 10.595 0 0 0 -.779 -1.978a18.18 18.18 0 0 0 -1.423 -2.091c-.877 -1.184 -2.179 -2.535 -2.853 -4.071a7.077 7.077 0 0 1 -.621 -2.967a6.226 6.226 0 0 1 1.476 -4.055a6.25 6.25 0 0 1 4.811 -2.245a6.462 6.462 0 0 1 1.918 .284a6.255 6.255 0 0 1 3.686 3.092z" />
							</svg>
				       		 <p>Victor Maro 100, B1625 Belén de Escobar</p>
				        </a>
				    </div>
				    <div class="whatsapp">
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
						  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						  <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
						  <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
						</svg>	
						<p>Contactanos</p>
					</div>
					<div class="instagram">
						<a href="https://www.instagram.com/escondidaescobar/">
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
						  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						  <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
						  <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
						  <path d="M16.5 7.5l0 .01" />
						  <p>Buscanos en Instagram</p>
						</svg>
						</a>
					</div>
				</div>
			</div>
	    	<div class="containerBar">
		       		<nav class="navegacion-principal">
			            <a href="/galeria">Galeria</a>
			            <a href="">Habitaciones</a>
			            <a href="">Carta</a>
			            <a href="">Reservanos</a>
			        </nav>
			</div>
			<h1 class="titulo">Conoce nuestras instalaciones </h1>
			<div class="containerGaleria">
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/d4XnqjAtFCNGF_bOFlTXMh1WoeCw25ryyNlOfkqaXQU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTI3/MTM4NjE2Ny9lcy9m/b3RvL2NhZiVDMyVB/OS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9c0x5ZFBPb2pm/aXBwMTIycTlIa2Fu/Q0JZODdlbEx6UnJu/SW04dXJpS1FuRT0" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/O1KP8kAOQ-XeZfJLfFwwm3CHiZYx1D9j3NtX7_asPVk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kZWNv/cmFpZGVhcy5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMjIv/MTIvSW1hZ2UwNTk5/LTYtNzY4eDUxMi5q/cGc" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/j3kHpoHdc2vA6CssYasnApdcTGDo38FG3FmDCp_-3-k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTI2/NDMyMzUxMy9lcy9m/b3RvL2ludGVyaW9y/LWRlbC1kb3JtaXRv/cmlvLWVzY2FuZGlu/YXZvLWZvdG8tZGUt/c3RvY2suanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPW84VXFT/aVAySnRSTEdrNjdf/OXd4NWxkbFlRa3pU/aHN0ZGJJTnBCMDFk/ams9" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/NaNZvUv-l7mMBuzffoOlcSsobic5U52z8UACQDgZcA4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMy/MDkzMjgwMS9lcy9m/b3RvL21vZGVybm8t/aW50ZXJpb3ItZGVs/LWRvcm1pdG9yaW8t/Zm90by1kZS1hcmNo/aXZvLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz05X2VUNVFK/NGtMMzdmdDFibEta/YXFmVHBVMDVtVDg1/VXFGMXZTT21KU0Vr/PQ" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/Lz2ENWrLNd5oqD5GBG2bNjGM5RdCbLRw5BNrmB-bJwI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTgy/MTc3OTcxL2VzL2Zv/dG8vbW9kZXJuby1i/YXItbW9kZXJuby5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/d0tQNUl6MVBqUlB5/WkE4QU5nSGc3QXlH/LVVCRDd1Sk5vV1Z0/TjB3d1FZbz0" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/_bd05S2AJyWmqd21DUEPQGmgXwRCbu6LGI8NpPjN4ZY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNDYy/NTczNDc3L2VzL2Zv/dG8vY2VydmV6YS5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/NEJxcXJlNDNER0E0/cmQ3emhhLVp2bXVL/dUJtWE43WmsxODR4/N01fUUQyUT0" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/bp-56isPq52YxNWKsEHoYIrg2qyt9BgjiuANnCk_jZg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/aGVybW9zYXMtcGll/cm5hcy1mZW1lbmlu/YXMtcGFudGltZWRp/YXNfMTQ0NjI3LTE0/Njc4LmpwZz9zaXpl/PTYyNiZleHQ9anBn" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/cRGEQWVMxTKaftho2p0VsEyNak8qV5akriCCPsMUzAE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/MTYzNjMwODgzODYt/MzFjNGE4NDE0ODU4/P2F1dG89Zm9ybWF0/JmZpdD1jcm9wJnE9/ODAmdz0xMDAwJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TVRGOGZI/QmhjbXRwYm1kOFpX/NThNSHg4TUh4OGZE/QT0" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/qDEVaD5evk2WpcxSiEP9oE3WotLXxoYxRBpHYCVXzXo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NjE3NTgwMzMtN2U5/MjRmNjE5YjQ3P3E9/ODAmdz0xMDAwJmF1/dG89Zm9ybWF0JmZp/dD1jcm9wJml4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4TVRCOGZHTnZi/V2xrWVNVeU1ISmhj/R2xrWVh4bGJud3dm/SHd3Zkh4OE1BPT0" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/K4eLbklSwaH_Y9HxREiMq7GOXEzqvpEJ367D_rWJRJk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/MjAyMDExNjM5ODEt/OGNjOTUwMDdkZDJh/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TWpCOGZH/TnZiV2xrWVNVeU1I/SmhjR2xrWVh4bGJu/d3dmSHd3Zkh4OE1B/PT0" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/14jnumS4Fz2ZG0EVz4HmLkz8dbwIyxG6az-0cpJkk2g/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NjUyOTk2MjQ5NDYt/YjI4ZjQwYTBhZTM4/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4T0h4OFky/OXRhV1JoSlRJd2Nt/RndhV1JoZkdWdWZE/QjhmREI4Zkh3dw" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/zp4YUv3GBpl1kj_WGGF64O_-5b5v1mLaiWyfqsp7akU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2Q5L2Vl/L2ExL2Q5ZWVhMTA3/NDQ2ZDUzOGI4OTRl/YjJlNTRlNDczYTY3/LS1vdXRkb29yLXBv/bmRzLW91dGRvb3It/bGFuZHNjYXBpbmcu/anBn" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/K4eLbklSwaH_Y9HxREiMq7GOXEzqvpEJ367D_rWJRJk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/MjAyMDExNjM5ODEt/OGNjOTUwMDdkZDJh/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TWpCOGZH/TnZiV2xrWVNVeU1I/SmhjR2xrWVh4bGJu/d3dmSHd3Zkh4OE1B/PT0" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/14jnumS4Fz2ZG0EVz4HmLkz8dbwIyxG6az-0cpJkk2g/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NjUyOTk2MjQ5NDYt/YjI4ZjQwYTBhZTM4/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4T0h4OFky/OXRhV1JoSlRJd2Nt/RndhV1JoZkdWdWZE/QjhmREI4Zkh3dw" id="imgGaleria"></div>
				<div class="galeriaImagen"><img src="https://imgs.search.brave.com/zp4YUv3GBpl1kj_WGGF64O_-5b5v1mLaiWyfqsp7akU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2Q5L2Vl/L2ExL2Q5ZWVhMTA3/NDQ2ZDUzOGI4OTRl/YjJlNTRlNDczYTY3/LS1vdXRkb29yLXBv/bmRzLW91dGRvb3It/bGFuZHNjYXBpbmcu/anBn" id="imgGaleria"></div>
			
			</div>
			
			  <footer class="footer">
		        <p>Hotel escondi2. Todos los derechos reservados 2024</p>
		    </footer>
			
			
			
			
	</div>
		
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>