<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Escondi2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preload" href="style.css" as="style">
    <link href="/css/styles.css" rel="stylesheet">

    <style>
	@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,500;1,700&family=Sacramento&display=swap');
	</style>

</head>

<body>
		        <h1 class="titulo" >Hotel Escondi<span> 2</span></h1>
		        
			<div class="datos"> 
				<div class="ubicacion">
			       <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google-maps" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					  <path d="M12 9.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" />
					  <path d="M6.428 12.494l7.314 -9.252" />
					  <path d="M10.002 7.935l-2.937 -2.545" />
					  <path d="M17.693 6.593l-8.336 9.979" />
					  <path d="M17.591 6.376c.472 .907 .715 1.914 .709 2.935a7.263 7.263 0 0 1 -.72 3.18a19.085 19.085 0 0 1 -2.089 3c-.784 .933 -1.49 1.93 -2.11 2.98c-.314 .62 -.568 1.27 -.757 1.938c-.121 .36 -.277 .591 -.622 .591c-.315 0 -.463 -.136 -.626 -.593a10.595 10.595 0 0 0 -.779 -1.978a18.18 18.18 0 0 0 -1.423 -2.091c-.877 -1.184 -2.179 -2.535 -2.853 -4.071a7.077 7.077 0 0 1 -.621 -2.967a6.226 6.226 0 0 1 1.476 -4.055a6.25 6.25 0 0 1 4.811 -2.245a6.462 6.462 0 0 1 1.918 .284a6.255 6.255 0 0 1 3.686 3.092z" />
					</svg>
			        <p>Victor Maro 100, B1625 Belén de Escobar</p>
			    </div>
			    <div class="whatsapp">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					  <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
					  <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
					</svg>	
					<p>Contactanos</p>
				</div>
				<div class="instagram">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					  <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
					  <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
					  <path d="M16.5 7.5l0 .01" />
					  <p>Buscanos en Instagram</p>
					</svg>
				</div>
			</div>
	    	
	    	<div class="container">
		    	<div class="nav-bg">
		       		<nav class="navegacion-principal">
			            <a href="">Galeria</a>
			            <a href="">Habitaciones</a>
			            <a href="">Carta</a>
			            <a href="">Reservanos</a>
			        </nav>
		    	</div>
			</div>
			
			    <div class="imagenes">
					
					<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
						    <div class="carousel-item active" data-bs-interval="3500">
						      	<img src="https://imgs.search.brave.com/jxbKCJ2sKofsTz3oLS2Ysi2coHB1Gqd33qQ3yvj7itM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvODcx/NjE3NjIyL2VzL2Zv/dG8vaG90ZWwtcm9v/bS1pbi10aGUtbmV3/LWhvdGVsLWNvbXBs/ZXgtaW4tbW9zY293/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz0zMzdzeGFMcjU4/QlUzRmdPSGwzUTVx/WW5UTkR3aFRzYWp5/Rk41ckNtNEk0PQ"  alt="...">
						    </div>
							 <div class="carousel-item " data-bs-interval="3500">
								<img src="https://imgs.search.brave.com/1N18ZNYVZUbiyEb2lwIceOLMQGufrZ_pw_5gQSQQX3s/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y29tb2RhLWhhYml0/YWNpb24taG90ZWwt/ZGVzYXl1bm8tZnJh/bmNlcy1yZWNpZW4t/aGVjaG8tZ2VuZXJh/ZG8taWFfMjQ2NDAt/ODA4ODQuanBnP3Np/emU9NjI2JmV4dD1q/cGc" alt="...">
						    </div>
						    <div class="carousel-item" data-bs-interval="3500">
						      	<img src="https://imgs.search.brave.com/4W0P-hq5p5SwDgh4igiHDpgl7nQziYyMeH8anLyqzEo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y29jdGVsZXMtYXJy/ZWdsby1jb2N0ZWxl/cmEtY2x1Yi1ub2N0/dXJub18yMy0yMTQ5/MDkzNjAzLmpwZz9z/aXplPTYyNiZleHQ9/anBn"  alt="...">
						    </div>
						      <div class="carousel-item" data-bs-interval="3500">
						      	<img src="https://imgs.search.brave.com/K0l84wwiyb_zHmitz_2UsbYCZY9z7hhB2Ox1Ts_Inms/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTU3/NTI2ODAxL2VzL2Zv/dG8vbGFzLXNlJUMz/JUIxYWxlcy1kZS12/ZW50YS1wZXJpJUMz/JUIzZGljby15LWZs/eWVycy1jbGlwcGlu/Z3MteHZpaWkuanBn/P3M9NjEyeDYxMiZ3/PTAmaz0yMCZjPWo4/U3Z5TVcwaGdWUVlj/ODBXWFR5X2VsQ2Zj/UW1kajNFUnhaemNM/R3ZINWs9"  alt="...">
						    </div>
						      <div class="carousel-item" data-bs-interval="3500">
						      	<img src="https://imgs.search.brave.com/i016BXesVSUCaq6DIJOYGcf00yTVxAOcaXmEwW6KAyo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNy8w/OC8wNi8wNy8xOS9w/ZW9wbGUtMjU4OTgx/OF9fNDgwLmpwZw"  alt="...">
						    </div>
					  </div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
						    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    	<span class="visually-hidden">Previous</span>
						  	</button>
						  	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
						    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
						    	<span class="visually-hidden">Next</span>
						  </button>
					</div>
					<div class="lateral">
						 <h3 class="titulo2" >Hotel Escondi<span> 2</span></h3>
							 <p>Hace tu reserva y pasa una de las mejores noches </p>
							 <p>Conoce nuestras habitaciones,promociones vigentes, servicios de bar y cafeteria.</p>
							 <p>Seguinos en nuestras redes</p>
					</div>
				</div>
				
		    	<div class="nav-bg container ">
		            <p class="div2 ">Nosotros</p>
			    </div>
			    
			    <div class="contenedor2">
					<div class="lateral2">
							<p>En nuestros espacios habitaciones obtendras una buena  ambientación y deseo se implican, y la 
								experiencia deja paso al disfrute soñado. Sin contacto con el afuera, el placer y las fantasías
								 también pueden volar. Por eso, somos hoy el albergue transitorio abierto más elegido de la 
								 Provincia de Buenos Aires para experimentar momentos privados muy especiales con quién y cuando
								  quieras.
								Elegí compartirlo con quien desees. Tu albergue transitorio cerca de los puntos de acceso y salida, 
								solo a metros de la Av. Gral. Paz, para vivir un encuentro diferente, para tener máxima privacidad
								 o para celebraciones, compromisos, noches de bodas, cumpleaños y todo corte o fin de semana y 
								 feriado que amerite el encuentro con los cinco sentidos, sin ninguna preocupación mientras disfrutan 
								 de una copa, se meten al jacuzzi, piden room service y se meten en la ducha escocesa.
							 </p>
					</div>
						<div >
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdOwKDw2HSxMuNUcaduAgxQN3heD3en1AkMVC07w6qDNKyzWTxIsKXfUzUMva9CtOROYQ&usqp=CAU" class="img"  alt="...">
						</div>
				</div>
				
		    <footer class="footer">
		        <p>Todos los derechos reservados. Diego Lentz</p>
		    </footer>
		    	</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>