/* normalize */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 63.5%;
}
body {
    font-size: 16px;/* 1 rem = 20px  */
    font-family: 'krub', sans-serif;
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);); */
    background-color: #000000;
}
h1{
	
    color: white;
    margin-top: 2rem;
}
h2 {
    font-size: 2.8 rem;
    margin: 2rem;
}
h3 {
    font-size: 1.8 rem;
}
h1,h2,h3 {
    text-align: center;

}
p{
	color: white;	
	  font-family: 'krub', sans-serif ;
	  
}

/* titulo */
.titulo {
	font-size: 4rem;
    color: white;
    font-family: 'Krub', sans-serif;
	font-family: 'Sacramento', cursive;
	 margin-bottom: 10px;
	 text-decoration: underline 2px solid;
 	 text-underline-offset: 8px; 
}
.titulo span {
    font-size: 4rem;
    color: red;
    font-family: 'Krub', sans-serif;
	font-family: 'Sacramento', cursive;
	
}


.datos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Dos columnas */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  margin: 10px;
  
}

.ubicacion, .whatsapp, .instagram {
	text-align: center; /* Alinea el texto al centro */
	color: white;
	
}

/* navbar */
.container {
  display: grid;
  grid-template-columns: 1fr; /* Una columna */
  max-width: 100%;
  height: 40px;	
  margin-top: 10px;
}


.nav-bg {
  	grid-template-columns: 1fr; /* Una columna */
    background-color: red;
    border-radius: 10px;
}

.navegacion-principal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ; 
	text-align: center;
}
.navegacion-principal a {
	
    height: 51px;	
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem;
    font-weight: bold;
}
.navegacion-principal a:hover {
    background-color: black;
    color: red;
    border: 2px solid white;
    
    
}
/*carrousel*/

.imagenes {
	display: flex;
	justify-content: center;
  	align-items: center;
  	width: auto;
  	height: auto;
  	gap: 20px;
	border-radius: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	flex-wrap: wrap;
	
}
.imCarrousel{
	border-radius: 20px;
	width: 700px;
	height: 320px;
}

#carouselExampleAutoplaying{
		width: 700px;
		height: 320px;	
		border-radius: 20px;
}
.carousel-item.active {
	display: flex;
	object-fit: contain;
	justify-content: center;
  	align-items: center;
  	border-radius: 20px;
  	
/*	border: 2px solid darkgrey;*/

}


.carousel-item {
/*
transition:[propiedad a modificar] [Duración] [Tipo de animación] [Retardo]; 
*/	
  transition: opacity  0.4s ease 0s;
  opacity: 0;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item:not(.active) {
  opacity: 0;
}


.lateral{
	display: grid;
	background: black;
	border: 3px solid red;
	border-radius: 20px;
	width: 400px;
	 max-width: calc(33.33% - 80px);
	height: 320px;	
	padding: 10px;
	align-content: space-around;
	justify-content: start;
}
.titulo2{
	font-size: 3rem;
    color: white;
    font-family: 'Krub', sans-serif;
	font-family: 'Sacramento', cursive;
	margin-bottom: 10px;
	text-decoration:  white solid 2px underline;
	text-underline-offset: 8px; 
}
.titulo2 span {
    font-size: 3rem;
    color: red;
    font-family: 'Krub', sans-serif;
	font-family: 'Sacramento', cursive;

}

/* medias querys
480-> telefono
768-> tablet
1140-> laptop
1440->  


@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content:space-between;
        
    }
}
*/
  
/* background */
.div2{
	text-align: center;
	font-family: 'Krub', sans-serif;
	font-size: 2.4rem;
	
}
.segundaBarra {
	margin: 5px !important;
}
.contenedor2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin-top: 20px;
	margin-left: 60px;
	justify-content: space-between
	
  
}
.imagenes2 {
	width: 400px;
	height: 400px;	
	object-fit: contain;
}


.lateral2{
	width: 700px;
	height: 400px;	
	border-radius: 20px;
	border: 3px solid red;
	text-align: start;
	padding: 20px;	
}
.img{
	width: 400px;
	height: 400px;
  	border-radius: 20px;
}
.cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	border: 2px solid red;
	margin: 10px 50px 10px 60px;
	padding: 20px;
	border-radius: 20px;
	flex-wrap: wrap;
	
	
	
}
.cuerpo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: red;
	border-radius: 20px;
	justify-content: start;
	width: 200px;
	height: 300px;
	gap: 10px;
	
}

img{
	object-fit: cover;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
#imgCarta {
	width: auto;
	object-fit: cover;
	width: 200px;
	height: 200px;
}
.imgCard{
	border-bottom: 2px solid black;
}
.textoCard{
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	color: white;
	
}
footer {
    text-align: end;
    color: white;
    
}


.total{
	display: flex;
	flex-direction: column;
	gap: 5px;
	min-width: 400px;
	flex-wrap: nowrap;
	
}